<aside class="sidebar">

    <h2>
        🍁 MaplePath
    </h2>


    <nav>

        <a href="dashboard.html">
            🏠 Dashboard
        </a>


        <a href="profile.html">
            👤 Profile
        </a>


        <a href="journey.html">
            🧭 Journey
        </a>


        <a href="documents.html">
            📁 Documents
        </a>


        <a href="tasks.html">
            ✅ Tasks
        </a>


        <a href="settings.html">
            ⚙ Settings
        </a>

    </nav>


</aside>