* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f9;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */

.sidebar {
    width: 240px;
    background: #0f172a;
    color: white;
    padding: 30px;
}

.sidebar h2 {
    margin-bottom: 40px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.sidebar a:hover {
    color: #60a5fa;
}

/* Main */

.main-content {
    flex: 1;
    padding: 40px;
}

header {
    margin-bottom: 40px;
}

.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}

.dashboard-header h1{
    font-size:36px;
    margin-bottom:8px;
}

.dashboard-header p{
    color:#666;
}

.avatar{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#2563eb;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:32px;

    box-shadow:0 8px 18px rgba(37,99,235,.3);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 40px;
}

.card{

    background:white;

    border-radius:16px;

    padding:28px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.25s;

}

.card:hover{

    transform:translateY(-6px);

    box-shadow:0 16px 28px rgba(0,0,0,.12);

}

.tasks {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0,0,0,.08);
}

.tasks ul {
    margin-top: 20px;
}

.tasks li {
    margin-bottom: 12px;
}

.progress-bar{

    width:100%;
    height:14px;

    background:#dbeafe;

    border-radius:20px;

    overflow:hidden;

    margin:20px 0;

}

.progress-fill{

    width:35%;

    height:100%;

    background:#2563eb;

    border-radius:20px;

}

.profile-card ul,
.updates-card ul{

    list-style:none;

    margin-top:20px;

}

.profile-card li,
.updates-card li{

    margin-bottom:15px;

    color:#444;

}
